 /*contacto */
 

.contactoCard{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
    img{
        padding-bottom: 2px;
    }
   
}
.caja-contacto{
    font-size: 1.5rem;
    font-family:'Bitter' ;
    font-style: italic;
    text-transform: capitalize;
}
.btn-env{
    margin-bottom: 5rem;
}


/* extend*/
.btn-propio{
    border: 1px solid;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    &:hover{
        background-color: darkcyan;
    }
}
.btn-propio-cc2{
    @extend .btn-propio;
    color:gray;
    background-color: crimson;
}

 .main-cont{
     display: flex;
     justify-content: center;
     flex-direction: column;
     margin-left: 10rem;

 }
