/* index estilos*/
.navbar-propia{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    padding-right: 4rem;
    align-items: center;
    font-family: 'Bitter', serif;   
}
#btnRojo{
    background-color:#b97a6e;
    border-radius: 10rem;
    padding-right: 1px;
    display: flex;
    align-items: center;
}

.animate__backInLeft{
    animation-duration: 3s;
}
.animate__flash{
    animation-iteration-count: infinite;}

   
    .breadcrumb--propio{
        background-color:white ;
        margin-bottom: 0;
        a{color: black;
    }
}