.titulo-propio{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color:#636059;
    font-family: 'Bitter', serif;
}
.p-propio-index{
    color:#636059;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    text-align: center;
    font-family: 'Bitter', serif;
}
.main-propio-index{
    display: flex;
    justify-content: center;
    align-items: center;
}
