  /*medias Q index*/
  @media screen and (max-width:768px) {
      .row-propia {
          display: flex;
          flex-direction: column;
          justify-content: center;
      }
      .row-propia{
        img{
          transform: translate(0);
          &:hover{
              transform: translate(0);
              
      
          }
      }iframe{
          transform: translate(0);
          &:hover{
              transform: translate(0);
          }
      }
    }
      .navbar-propia{
       
        padding-right: 0px;
        text-align: center; 
    }
  }
  #btnRojo{
      display: inline-block;
  }


  @media screen and (max-width:500px) {
      .p-propio-index {
          font-size: 1.2rem;
      }
  

  .navbar-propia {
      padding-right: 0;
      font-size: 14px;
  }
  .breadcrumb--propio{
      font-size: 0.8rem;
  }
  .row-propia{
    img{
      transform: translate(0);
      &:hover{
          transform: translate(0);
          
  
      }
  }iframe{
      transform: translate(0);
      &:hover{
          transform: translate(0);
      }
  }
}

  .fotoIn {
      width: 350px;
      height: 350px;
  }

  .iframe-propia {
      width: 350px;
      height: 350px;
  }

  .foot-p {
      font-size: 0.7rem;
  }
  .mapa_footer{
      a{
          font-size: 0.8rem;
      }
      .li_uno{
          padding-left: 0;
          padding-right: 1rem;
      }
      .li_dos{
          padding-left: 0rem;
      }
  }
}
  
/*medias Q sobre mi*/
@media screen and (max-width:768px){
    .navbar-propia{
        text-align: center;
    }
    #btnRojo{
    display: inline-block;
    }
    
    .m-propio-s{
        flex-direction: column;
        text-align: center;
        p{
            font-size: 1.3rem;
            padding-bottom: 100px;
        }
        
    }
    .foto-sobrem{
        padding-bottom: 20px;
    }
    .titulo-s{
        font-size: 2.3rem;
        padding-bottom: 55px;
        padding-top: 20px;
    }

}

/* news*/
@media screen and (max-width:768px){ 
.main_cards{
    margin-bottom: 1rem;
}
.img-propia{
    padding-bottom:  1.8rem; ;
}

}


@media screen and (max-width:500px){
.img-propia{
    padding-bottom: 6.5rem;
}

.main_cards{
    display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}.card--propia{
    margin-bottom: 1rem;
}
} 