.m-propio-s{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color:#636059;
    text-transform: uppercase;
    align-items: center;
    font-family: 'Bitter', serif;

}
.animate__flip{
    animation-delay: 2s;
}

.titulo-s{
color: #636059;
text-align: center;
font-family: 'Bitter', serif;
font-size: 2.8rem;
padding-bottom: 2rem;
text-transform: uppercase;
}

.sobre-prop{
    p{
        font-size: 1.5rem;
        font-family: 'Bitter', serif;   
        text-transform: uppercase;
        color: #636059;
       
    }
}

