$colorletras:#636059;
$titulo:#636059,'Bitter', uppercase,2.5rem;

/* map get*/

$estilos-1:(
    color:#636059,
    ttitulos:2.5rem,
    tparrafo:1rem,
    centro:center,
    fuente:'Bitter', 
    tfuente: uppercase,
);

